name: build

on:
  pull_request:
  push:
    branches:
      - master
    paths-ignore:
      - '**.md'

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      rebloom:
        image: redislabs/rebloom:edge
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6379:6379
      redisearch:
        image: redislabs/redisearch:1.6.13
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6380:6379
      redistimeseries:
        image: redislabs/redistimeseries:edge
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6381:6379
      redisai:
        image: redisai/redisai:edge
        options: >-
          --health-cmd "redis-cli ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 6382:6379

    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v1
        with:
          java-version: 1.8

      - name: Build with Maven
        run: mvn clean install -DskipTests=true --file pom.xml

      - name: Test RedisBloom
        run: mvn test -pl redisbloom -DREDIS_HOST=localhost --file pom.xml

      - name: Test RediSearch
        run: mvn test -pl redisearch -DREDIS_HOST=localhost -DREDIS_PORT=6380 --file pom.xml

      - name: Test RedisTimeSeries
        run: mvn test -pl redistimeseries -DREDIS_HOST=localhost -DREDIS_PORT=6381 --file pom.xml

      - name: Test RedisAI
        run: mvn test -pl redisai -DREDIS_HOST=localhost -DREDIS_PORT=6382 --file pom.xml

      - uses: codecov/codecov-action@v1
